* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

a {
  color: #fff;
  text-decoration: none;
}

.logo a:hover {
  opacity: 1;
  zoom: 1;
  transition: 0s;
}

header a:hover {
  opacity: .5;
  zoom: 1.0199;
  transition: 0.9s;
}

header a:hover::after {
  transition: 0.8s;
}

.merchan a:hover {
  color: #3d3eb3;
  transition: .8s;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #000;
  height: 15vh;
  width: 100vw;
  position: fixed;
  transition: transform .5s;
}

.nav--hidden {
  transform: translateY(-15vw);
}

.nav-list {
  list-style: none;
  display: flex;
}

.nav-list li {
  letter-spacing: 3px;
  margin-left: 250px;
  font-size: 1vw;
}

.logo {
  width: 10vw;
}

.logo img {
  width: 10vw;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background: #fff;
  margin: 8px;
  transition: 0.3s;
}

.main {
  background-image: url(./Fundo.png);
  width: 100vw;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.main h1 {
  font-size: 4vw;
  text-align: center;
}

.heading {
  padding: 10vw;
  border-radius: 5px;
  margin-top: 12vh;
}

.content-all {
  margin-top: 20vh;
}

.content {
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  color: #000;
}

.content-title {
  width: 50vw;
  height: 10vh;
  margin-left: 25vw;
  margin-right: 25vw;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-bottom: 5vh;
  font-size: 1.3vw
}

.content-text {
  width: 50vw;
  height: 10vh;
  margin-left: 25vw;
  margin-right: 25vw;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.content-text p {
  font-size: 1.5vw;
}

.icons {
  margin-top: 20vh;
  width: 50vw;
  height: 10vh;
  margin-left: 25vw;
  margin-right: 25vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.icons img {
  width: 10vw;
  height: 20vh;
}

.content2 {
  width: 100vw;
  height: 100vh;
  background-image: url(./electric_guitar_guitar_musical_instrument_200825_3840x2400.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.merchan {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3.3vw;
  letter-spacing: 1vw;
  color: #fff;
}

.news {
  width: 100%;
  height: 70vh;
  background-color: #000;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form input {
  margin-top: 1vh;
  width: 15vw;
  height: 3.7vh;
  font-size: 0.7vw;
  border-radius: 10px;
  text-align: left;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  padding: 0.5vw;
}

.form input:focus {
  background: #fff;
  color: #000;
}

.form button:active {
  background-color: #fff;
  color: #000;
}

.form {
  /* width: 50vw; */
}

button {
  margin-top: 2vh;
  width: 5vw;
  height: 3vh;
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  cursor: pointer;
}

.logo2 {
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2vw;
}

.logo2 img {
  width: 6vw;
}

.redes {
  display: flex;
  /* width: 50vw; */
  align-items: center;
  justify-content: space-around;
}

.redes img {
  width: 3vw;
}

.whatsapp img {
  width: 2vw;
}


@media (max-width: 999px) {

  body {
    overflow-x: hidden;
  }
  .nav-list {
    position: absolute;
    top: 15vh;
    right: 0;
    width: 100vw;
    height: 105vh;
    background: #000;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
    font-size: 3vw;
  }

  .mobile-menu {
    display: block;
  }

}

.nav-list.active {
  transform: translateX(0);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}


@media (min-width: 320px) and (max-width: 480px) {
  .logo {
    width: 5vw;
    height: 5vh;
  }

  .logo img {
    width: 25vw;
  }

  .mobile-menu div {
    width: 6vw;
    height: 0.4vh;
    margin-left: 10vw;
  }

  .mobile-menu {
    margin-left: 32px;
  }

  .main {
    height: 60vh;
    background-image: url(./fundo2.jpg);
  }

  .heading h1 {
    font-size: 7.5vw;
  }

  .content-title {
    margin: 0%;
    width: 100vw; 
    margin-bottom: 10vh;
  }

  .content {
    margin-top: 10vh;
  }

  .content-text {
    margin-top: 20vh;
    width: 100vw;
    margin: 0;
  }

  .content-text p {
    font-size: 5vw;
  }

  .icons {
    width: 100vw;
    height: 30vh;
    margin-top: 5vh;
    margin-left: 0;
    margin-right: 0;
  }

  .icons img {
    width: 20vw;
    height: 10vh;
  }

  .form {
    width: 100vw;
    margin: 0;
  }

  .form input {
    margin-top: 1vh;
    width: 65vw;
    height: 4vh;
    font-size: 4vw;
    border-radius: 10px;
    text-align: left;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    padding: 2vw;
  }

  button {
    width: 20vw;
    text-align: center;
    height: 5vh;
  }

  .logo2 {
    width: 100vw;
    height: 20vh;
    align-items: center;
    justify-content: center;
    display: flex;
    margin-bottom: 5vh;
  }

  .logo2 img {
    width: 20vw;
  }

  .redes {
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .redes img {
    width: 10vw;
  }

  .whatsapp img {
    width: 8vw;
  }

  .nav--hidden {
    transform: translateY(-30vw);
  }

} /* responsividade mobile sm */

@media (min-width: 481px) and (max-width: 768px) {
  .logo {
    width: 5vw;
    height: 5vh;
  }

  .logo img {
    width: 25vw;
  }

  .mobile-menu div {
    width: 6vw;
    height: 0.6vh;
    margin-left: 10vw;
  }

  .mobile-menu {
    margin-left: 32px;
  }

  .main {
    height: 100vh;
    background-image: url(./studios-1654209206699-4521.jpg);
  }

  .heading h1 {
    font-size: 6.8vw;
  }

  .content-title {
    margin: 0%;
    width: 100vw; 
    margin-bottom: 10vh;
  }

  .content {
    margin-top: 10vh;
  }

  .content-text {
    margin-top: 20vh;
    width: 100vw;
    margin: 0;
  }

  .content-text p {
    font-size: 3.8vw;
  }

  .icons {
    width: 100vw;
    height: 30vh;
    margin-top: 5vh;
    margin-left: 0;
    margin-right: 0;
  }

  .icons img {
    width: 20vw;
    height: 13vh;
  }

} /* responsividade mobile md */

@media (min-width: 769px) and (max-width: 1279px) {
  .nav-list {
    width: 80vw;
  }

  .nav-list li {
    margin-left: 30px;
  }

  .nav {
    width: 100vw;
    height: 30vh;
  }

  .logo {
    width: 50vw;
    height: 5vh;
    margin-left: 20vw;
  }

  .logo img {
    width: 15vw;
  }

  .mobile-menu div {
    width: 6vw;
    height: 0.6vh;
    margin-left: 10vw;
  }

  .mobile-menu {
    margin-left: 32px;
  }

  .main {
    height: 100vh;
    background-image: url(./studios-1654209206699-4521.jpg);
  }

  .heading h1 {
    font-size: 5vw;
  }

  .content-title {
    margin: 0%;
    width: 100vw; 
    margin-bottom: 10vh;
  }

  .content {
    margin-top: 10vh;
  }

  .content-text {
    margin-top: 20vh;
    width: 100vw;
    margin: 0;
  }

  .content-text p {
    font-size: 2vw;
  }

  .icons {
    width: 100vw;
    height: 30vh;
    margin-top: 5vh;
    margin-left: 0;
    margin-right: 0;
  }

  .icons img {
    width: 20vw;
    height: 18vh;
  }

} /* responsividade mobile md */

